*{
	padding:  220;
	margin: 300;

}


.formulario{
	text-align: center;
	background-color: lightcoral;
	border-radius: 200px;
	width: 1330px;
	height: 520px;

}

.formulario p{
	
	

}